{% extends 'articles/base.html'%}
{% load bootstrap4 %}
{% load staticfiles %}


{%block article_short%}
      <div class="album py-5 bg-gray">
        <div class="container">
            <div class="row">
                {% for articles in article_list.all%}
                <div class="col-md-4">
                    <div class="card mb-4 shadow-sm">
                        <div class="card-body image-height">
                            <p class="card-text">
                                {{articles.pub_date_pretty}}</br>
                                <h2><a href="{%url 'articles:detail' slug=articles.slug%}">{{articles.title}}</br></a></h2></br>
                                <img class="img-fluid img-responsive" src="{{articles.image.url}}" height="150" width="200" /></br>
                                {{articles.summary}}
                                {{articles.authors.name}}
                            </p>
                            <div class="d-flex justify-content-between align-items-center">
                                <div class="btn-group">
                                    <button type="button" class="btn btn-sm btn-outline-secondary"><a href="{%url 'articles:detail' slug=articles.slug%}">Read more...</a></button>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                {%endfor%}
                <div class="pagination">
                    <span class="step-links">
                        {% if article_list.has_previous%}
                        <a href="?page=1">&laquo; first</a>
                        <a href="?page={{ article_list.previous_page_number }}">previous</a>
                        <!--<a href="?{{page_request_var}} ={{article_list.previous_page_number}}{%if request.GET.q%}&q={{request.GET.q}}{%endif%}">previous</a>-->
                        <span class="current">
                            Page {{ article_list.number }} of {{ article_list.paginator.num_pages }}
                            <!--page {{article_list.number}} of {{article_list.pagination.num_pages}}-->
                        </span>
                        {% endif %}
                        {% if article_list.has_next %}
                        <a href="?page={{ article_list.next_page_number }}">next</a>
                        <a href="?page={{ article_list.paginator.num_pages }}">last &raquo;</a>
                        <!-- <a href="?{{page_request_var}} = {{article_list.next_page_number}}{%if request.GET.q%}&q={{request.GET.q}}{%endif%}">next</a>-->
                        {% endif%}
                    </span>
                </div>
            </div>
        </div>
      </div>
{%endblock%}
