{% extends "articles/base.html" %}
{% load bootstrap4 %}
{% load staticfiles %}
<link rel="stylesheet" href="{% static 'css/style.css' %}">

  {%block slideshow%}
 {% for articles in article_list.all%}
    <div class="col-md-4">
        <div class="card mb-4 shadow-sm">
            <div class="card-body image-height">
                <p class="card-text">
                    {{articles.pub_date_pretty}}</br>
                    <h2><a href="{%url 'articles:detail' slug=articles.slug%}">{{articles.title}}</br></a></h2></br>
                    <img class="img-fluid img-responsive" src="{{articles.image.url}}" height="150" width="200" /></br>
                    {{articles.summary}}
                    {{articles.authors.name}}
                </p>
                <div class="d-flex justify-content-between align-items-center">
                    <div class="btn-group">
                        <button type="button" class="btn btn-sm btn-outline-secondary"><a href="{%url 'articles:detail' slug=articles.slug%}">Read more...</a></button>
                    </div>
                </div>
            </div>
        </div>
    </div>
  {%endfor%}
  {%endblock slideshow%}

{%block article_full%}
{{title}}
<div class="col-sm-6 col-sm-offset-3 container justify-content-center">
    {%if fullarticle.first_name%}
    <strong>Author</strong>:{{ fullarticle.author.first_name }}<br />
    {%endif%}
    <h2>{{fullarticle.title}}</h2></br>

    {%if fullarticle.image%}
    <img src="{{fullarticle.image.url}}" height="300" width="400" class="img-responsive" /><br />
    {%endif%}
    {{fullarticle.pub_date_pretty}}<br />
    <h1>{{title}}<small>{{fullarticle.timestamp}}</small></h1><br />
    <div class="container justify-content-left"><p class="text-center">{{fullarticle.body|linebreaks}}</p></br></div>
    <a class="btn btn-secondary my-2" href="https://www.facebook.com/sharer/sharer.php?u={{request.build_absolute_uri}}">
        Share On Facebook
    </a></br>
    <div class="fb-comments" data-href="{{request.build_absolute_uri}}" data-colorscheme="dark" data-numposts="5"></div>
</div>
{%endblock article_full%}
